<a
  th:fragment="card"
  th:href="@{/productos/{id}(id=${producto.id})}"
  class="card text-black m-1"
  style="width: 12rem; text-decoration: none; cursor: pointer"
>
  <!--Card image-->
  <img
    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg"
    class="card-img-top"
    alt="${producto.nombre}"
  />
  <!--Card image-->

  <!--Card content-->
  <section class="card-body text-center">
    <!--Category & Title-->
    <strong>
      <p class="card-title" th:text="${producto.nombre}">Sweatshirt</p>
    </strong>
    <p class="card-text">
      <strong th:text="'$'+ ${producto.precio}">139$</strong>
    </p>
  </section>
  <!--Card content-->
  <!--Card-->
</a>
