<section
  th:fragment="detalle"
  class="d-flex flex-row justify-content-between w-100"
>
  <img
    th:src="${data.imagen}"
    width="400"
    height="400"
    style="max-height: 400px"
    class="img-fluid rounded"
  />
  <div class="d-flex flex-column">
    <h3 th:text="${data.nombre}">Productos</h3>
    <p class="fw-normal" th:text="'$' + ${data.precio}">Precio</p>
    <span class="d-flex flex-row align-items-center my-2">
      <label for="cantidad" class="form-label mb-0">Cantidad: </label>
      <input
        class="form-control"
        type="number"
        style="border: none; width: fit-content"
        min="1"
        id="cantidad"
        max="${data.maxCant}"
        value="1"
      />
    </span>
    <button type="button" id="add-producto-btn" class="btn btn-primary my-2">
      Comprar
    </button>
    <span style="display: none" id="ir-carrito">
      Producto agregado.
      <a class="link-primary mx-2" style="cursor: pointer">Ir al carrito</a>
    </span>
  </div>
</section>
