<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Ecommerce</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />

    <!-- Bootstrap CSS v5.2.1 -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/0500a06681.js"
      crossorigin="anonymous"
    ></script>
    <link th:href="@{/styles/estilos.css}" rel="stylesheet" />
  </head>

  <nav th:fragment="nav_bar" class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/#}">RocketPowers</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Productos
            </a>
            <ul class="dropdown-menu">
              <span th:each="categoria : ${categorias}">
                <li>
                  <a
                    class="dropdown-item"
                    th:text="${categoria.nombre}"
                    th:href="@{/productos(categoria=${categoria.id})}"
                    >Another action</a
                  >
                </li>
              </span>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <form class="container-fluid justify-content-start">
            <!--  <button class="btn btn btn-outline-secondary" type="button">
              Carrito
            </button> -->
            <a class="active" th:href="@{/login}">
              <button class="btn btn-outline-success" type="button">
                Perfil
              </button>
            </a>
          </form>
        </ul>
      </div>
    </div>
  </nav>
</html>
