html {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: white;
}
.fa-user {
  color: white;
}
.navbar {
  background-color: black;
  border-bottom: 1px solid rgb(255, 255, 255);
}
a {
  color: black;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}
.pt-4{
  padding-top: 0% !important;
}
footer{
  background-color: lightgray;
}